<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355241022033-40i2od432rb75n7tpg250gib3j54s2ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355241022033-40i2od432rb75n7tpg250gib3j54s2ti</string>
	<key>API_KEY</key>
	<string>AIzaSyC_rAtVpcEf_Zmob9FFl7RMjTOGq0tamsM</string>
	<key>GCM_SENDER_ID</key>
	<string>355241022033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.numankaya.flutterFirebaseDersleri</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-dersler-1b561</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-dersler-1b561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355241022033:ios:89ec0a97f2fc82e4595e70</string>
</dict>
</plist>